* {
    box-sizing: border-box;
}

.holder {
    display: flex;
    justify-content: center;
}

.container {
   padding: 0px;
   margin: 0px; 
    width:480px;
    height:480px;
    display: flex;
    flex-wrap: wrap;
}

